boto3==1.28.44
botocore==1.31.44
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
crypto==1.4.1
cryptography==41.0.3
fernet==1.0.1
idna==3.4
jmespath==1.0.1
Naked==0.1.32
pyaes==1.6.1
pyasn1==0.5.0
pycparser==2.21
pycryptodome==3.18.0
pycryptodomex==3.18.0
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
s3transfer==0.6.2
shellescape==3.8.1
six==1.16.0
urllib3==1.26.16
